.classpath
.project
.settings/
.idea/
target/
out/
bh-client/
chrome-user-dir/
tmp/
release/
BitHeroes-v*/
99bot-v*/
*.iml
*.jar
*.log
user-config.properties
readonly.*.user-config.properties
bh-client/index*.html
mini-game-on-chrome*.sh
mini-game-on-chrome*.bat
mini
samepix.sh
keeppix.sh
test.sh
test.bat
sc.sh
sc.bat
matrix.sh
matrix.bat
tp.sh
tp.bat
c.*.bat
c.*.sh
*.c.bat
*.c.sh

reconnect.bmp
reconnect-hl.bmp

*.zip

latest.README.md
im.dev
