.idea/
target/
out/
bh-client/
chrome-user-dir/
tmp/
release/
*.iml
*.jar
*.log
user-config.properties
bh-client/index.html
mini-game-on-chrome.sh
mini-game-on-chrome.bat
mini

reconnect.bmp
reconnect-hl.bmp

*.zip
