.idea/
target/
out/
bh-client/
chrome-user-dir/
tmp/
release/
BitHeroes-v*/
*.iml
*.jar
*.log
user-config.properties
bh-client/index*.html
mini-game-on-chrome*.sh
mini-game-on-chrome*.bat
mini
samepix.sh
keeppix.sh

reconnect.bmp
reconnect-hl.bmp

*.zip

latest.README.md
im.dev
