body {
	font-size: 3rem;
	line-height: 1.4rem;
}

body.bged {
	background-color: #2a3c47;
	color: #d8d7d7;
}

img#logo {
	max-width: 100%;
	opacity: 0.1;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: auto;
	z-index: -10;
}